name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Gates (lint + tests + security)
        run: |
          make gate

  # SIGNAL: "I treat Infrastructure as Code like production software"
  terraform-check:
    name: Terraform Validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform fmt
        working-directory: infra/terraform
        run: terraform fmt -check -recursive

      - name: Create Dummy Artifact
        run: mkdir -p dist && touch dist/lambda.zip

      - name: Terraform validate
        working-directory: infra/terraform
        run: |
          terraform init -backend=false
          terraform validate
